~/workspace$ git add requirements.txt
 Environment updated. Reloading shell...
~/workspace$ git commit -am "rebase"
[detached HEAD 263fa2a] rebase
 8 files changed, 377 insertions(+), 315 deletions(-)
 delete mode 100644 app.py.new
~/workspace$ git push
fatal: You are not currently on a branch.
To push the history leading to the current (detached HEAD)
state now, use

    git push origin HEAD:<name-of-remote-branch>

~/workspace$ git push origin main
To https://github.com/jrgochan/BookBrainSync
 ! [rejected]        main -> main (fetch first)
error: failed to push some refs to 'https://github.com/jrgochan/BookBrainSync'
hint: Updates were rejected because the remote contains work that you do not
hint: have locally. This is usually caused by another repository pushing to
hint: the same ref. If you want to integrate the remote changes, use
hint: 'git pull' before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.
~/workspace$ git rebase --continue
~/workspace$ git push origin main
To https://github.com/jrgochan/BookBrainSync
 ! [rejected]        main -> main (fetch first)
error: failed to push some refs to 'https://github.com/jrgochan/BookBrainSync'
hint: Updates were rejected because the remote contains work that you do not
hint: have locally. This is usually caused by another repository pushing to
hint: the same ref. If you want to integrate the remote changes, use
hint: 'git pull' before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.
~/workspace$ git commit -am "rebase"
On branch main
Your branch is ahead of 'origin/main' by 3 commits.
  (use "git push" to publish your local commits)

Untracked files:
  (use "git add <file>..." to include in what will be committed)
    requirements_merged.txt

nothing added to commit but untracked files present (use "git add" to track)
~/workspace$ git push origin main
To https://github.com/jrgochan/BookBrainSync
 ! [rejected]        main -> main (fetch first)
error: failed to push some refs to 'https://github.com/jrgochan/BookBrainSync'
hint: Updates were rejected because the remote contains work that you do not
hint: have locally. This is usually caused by another repository pushing to
hint: the same ref. If you want to integrate the remote changes, use
hint: 'git pull' before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details